<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.html') %>
    </head>
	<body>
		<!-- HEADER -->
		<header>
			<%- include('../partials/header.html') %>
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<%- include('../partials/menu.html')%>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="./img/shop01.png" alt="">
							</div>
							<div class="shop-body">
								<h3>Laptop<br>Collection</h3>
								<a href="#" class="cta-btn">Compre agora <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="./img/shop03.png" alt="">
							</div>
							<div class="shop-body">
								<h3>Accessories<br>Collection</h3>
								<a href="#" class="cta-btn">Compre agora <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="./img/shop02.png" alt="">
							</div>
							<div class="shop-body">
								<h3>Cameras<br>Collection</h3>
								<a href="#" class="cta-btn">Compre agora<i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">NOVOS PRODUTOS</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
									<li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
									<li><a data-toggle="tab" href="#tab1">Cameras</a></li>
									<li><a data-toggle="tab" href="#tab1">Accessories</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">

										<!-- product -->
									<% if(typeof newProducts != 'undefined'){ %>
										<% newProducts.forEach(function(product) {  %>	
									
										<div class="product">
											<div class="product-img"  onclick="location.href='product?id=<%= product.uid%>'">
												<img src=" <%= product.img%> " alt="">
												<div class="product-label">
													<!-- <span class="sale">-30%</span> -->
													<span class="new">NOVO</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category"> <%= product.locationCity%> </p>
												<h3 class="product-name"><a href="#"><%= product.title %></a></h3>
												<h4 class="product-price"> <%= product.price%> <del class="product-old-price"> </del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Favoritos</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">adicione para comparar</span></button>
													<button class="quick-view" onclick="location.href='product?id=<%= product.uid%>'"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											
										</div>
										<%})%>
									<%}%>
										<!-- /product -->
										


									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- HOT DEAL SECTION -->
		<div id="hot-deal" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
							<ul class="hot-deal-countdown">
								<li>
									<div>
										<h3>02</h3>
										<span>Dias</span>
									</div>
								</li>
								<li>
									<div>
										<h3>10</h3>
										<span>Horas</span>
									</div>
								</li>
								<li>
									<div>
										<h3>34</h3>
										<span>Mins</span>
									</div>
								</li>
								<li>
									<div>
										<h3>60</h3>
										<span>Segs</span>
									</div>
								</li>
							</ul>
							<h2 class="text-uppercase">hot deal desta semana</h2>
							<p>publique sua marca aqui 50% OFF</p>
							<a class="primary-btn cta-btn" href="#">Publicar agora</a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /HOT DEAL SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Mais visitados</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab2">Laptops</a></li>
									<li><a data-toggle="tab" href="#tab2">Smartphones</a></li>
									<li><a data-toggle="tab" href="#tab2">Cameras</a></li>
									<li><a data-toggle="tab" href="#tab2">Accessories</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">

										<%if(typeof moreVisitedProduct != 'undefined') {%>
											<%moreVisitedProduct.forEach(function(product) { %>

														<!-- product -->
												<div class="product">
													<div class="product-img">
														<img src=" <%= product.img %> " alt=""  onclick="location.href='product?id=<%= product.uid%>'" >
														<div class="product-label">
															<span class="sale">-30%</span>
															<span class="new">NEW</span>
														</div>
													</div>
													<div class="product-body">
														<p class="product-category">  <%= product.locationCity %> </p>
														<h3 class="product-name"><a href="#"> <%= product.title %>  </a></h3>
														<h4 class="product-price">  <%= product.price %> <del class="product-old-price"> </del></h4>
														<div class="product-rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<div class="product-btns">
															<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Favoritos</span></button>
															<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">adicione para comparar</span></button>
															<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
														</div>
													</div>
													
												</div>
												<!-- /product -->

											<%})%>
										<%}%>
										
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Veículos</h4>
							<div class="section-nav">
								<div id="slick-nav-3" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-3">
							<div>

								<% for(var i=0; i< carsProduct.length; i++) { %>
									<% if(i == 3) {  break }%>
									<!-- product widget -->
									<div class="product-widget">
										<div class="product-img">
											<img src="<%= carsProduct[i].img %>" alt=""  onclick="location.href='product?id=<%= carsProduct[i].uid %>'" >
										</div>
										<div class="product-body">
											<p class="product-category"><%= carsProduct[i].locationCity %></p>
											<h3 class="product-name"><a href=" /product?id=<%= carsProduct[i].uid %> "><%= carsProduct[i].title %></a></h3>
											<h4 class="product-price"><%=carsProduct[i].price %> <del class="product-old-price"></del></h4>
										</div>
									</div>
									<!-- /product widget -->
								
								<%}%>
						

							</div>

							<div>

								<% for(var i=3; i< carsProduct.length; i++) { %>
									<% if(i == 6) {  break }%>
									<!-- product widget -->
									<div class="product-widget">
										<div class="product-img">
											<img src="<%= carsProduct[i].img %>" alt="" onclick="location.href='product?id=<%= carsProduct[i] %>'">
										</div>
										<div class="product-body">
											<p class="product-category"><%= carsProduct[i].locationCity %></p>
											<h3 class="product-name"><a href="/product?id=<%= carsProduct[i].uid %>"><%= carsProduct[i].title %></a></h3>
											<h4 class="product-price"><%=carsProduct[i].price %> <del class="product-old-price"></del></h4>
										</div>
									</div>
									<!-- /product widget -->
								
								<%}%>
								
							</div>
						</div>
					</div>
				
				
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Imobiliária</h4>
							<div class="section-nav">
								<div id="slick-nav-4" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-4">
							<div>
							
								<% for(var i=0; i< homeProduct.length; i++) { %>
									<% if(i == 3) {  break }%>
									<!-- product widget -->
									<div class="product-widget">
										<div class="product-img">
											<img src="<%= homeProduct[i].img %>" alt="" onclick="location.href='product?id=<%= homeProduct[i].uid%>'" >
										</div>
										<div class="product-body">
											<p class="product-category"><%= homeProduct[i].locationCity %></p>
											<h3 class="product-name"><a href=" /product?id=<%= homeProduct[i].uid %> "><%= homeProduct[i].title %></a></h3>
											<h4 class="product-price"><%= homeProduct[i].price %> <del class="product-old-price"></del></h4>
										</div>
									</div>
									<!-- /product widget -->
								<%}%>

							</div>

							<div>
								
								<% for(var i=3; i< homeProduct.length; i++) { %>
									<% if(i == 6) {  break }%>
									<!-- product widget -->
									<div class="product-widget">
										<div class="product-img">
											<img src="<%= homeProduct[i].img %>" alt="">
										</div>
										<div class="product-body">
											<p class="product-category"><%= homeProduct[i].locationCity %></p>
											<h3 class="product-name"><a href=" /product?id=<%= homeProduct[i].uid %> "><%= homeProduct[i].title %></a></h3>
											<h4 class="product-price"><%= homeProduct[i].price %> <del class="product-old-price"></del></h4>
										</div>
									</div>
									<!-- /product widget -->
								<%}%>

							</div>
						</div>
					</div>

					<div class="clearfix visible-sm visible-xs"></div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Tecnologia</h4>
							<div class="section-nav">
								<div id="slick-nav-5" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-5">
							<div>

								<% for(var i=0; i< techProduct.length; i++) { %>
									<% if(i == 3) {  break }%>
									<!-- product widget -->
									<div class="product-widget">
										<div class="product-img"  onclick="location.href='/product?id=<%= techProduct[i].uid%>'" >
											<img src="<%= techProduct[i].img %>" alt="">
										</div>
										<div class="product-body">
											<p class="product-category"><%= techProduct[i].locationCity %></p>
											<h3 class="product-name"><a href=" /product?id=<%= techProduct[i].uid %> "><%= techProduct[i].title %></a></h3>
											<h4 class="product-price"><%= techProduct[i].price %> <del class="product-old-price"></del></h4>
										</div>
									</div>
									<!-- /product widget -->
								<%}%>
					
							</div>

							<div>

								<% for(var i=3; i< techProduct.length; i++) { %>
									<% if(i == 6) {  break }%>
									<!-- product widget -->
									<div class="product-widget">
										<div class="product-img">
											<img src="<%= techProduct[i].img %>" alt="" onclick="location.href='product?id=<%= techProduct[i].uid %>'"  >
										</div>
										<div class="product-body">
											<p class="product-category"><%= techProduct[i].locationCity %></p>
											<h3 class="product-name"><a href=" /product?id=<%= techProduct[i].uid %> "><%= techProduct[i].title %></a></h3>
											<h4 class="product-price"><%= techProduct[i].price %> <del class="product-old-price"></del></h4>
										</div>
									</div>
									<!-- /product widget -->
								<%}%>
							
							</div>
						</div>
					</div>

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<%- include('../partials/newsletter.html') %>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer">
			<%- include('../partials/footer.html')%>
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>

	</body>
</html>
